<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div align="center" >
        <h2> Student Details </h2>
    </div>
    <div align="right" >
        <a href="/add" class="button addBtn" >+</a>
    </div>
    <table width="100%" border="1" >
        <thead>
            <th>S No</th>
            <th>Roll No</th>
            <th>Name</th>
            <th> Dob </th>
            <th>Email Id</th>
            <th>Location</th>
            <th>Action</th>
        </thead>
        <tbody>
         {{#each result}}
            <tr>
                <td> {{@index }} </td>
                <td> {{this.rollno}} </td>
                <td> {{this.name}} </td>
                <td> {{this.dob}} </td>
                <td> {{this.email}} </td>
                <td> {{this.location}} </td>
                <td>
                    <a class="button edit" href="/edit">edit</a>
                    <a class="button delete" href="/delete">delete</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</body>
</html>